<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index Page / All Products / Product List</title>
</head>
<body>
<a href="/products"><h1>Product List</h1></a>
<a href="/products/create">Create New Product</a>
<table border="1">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Variant</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Description</th>
        <th>Action</th>
    </tr>
    <tr th:each="product : ${products}">
        <td th:text="${product.id}"></td>
        <td th:text="${product.name}"></td>
        <td th:text="${product.variant}"></td>
        <td th:text="${product.qty}"></td>
        <td th:text="${product.price}"></td>
        <td th:text="${product.description}"></td>

        <td><a th:href="@{'/products/' + ${product.id}}">View</a></td>
        <td><a th:href="@{'/products/' + ${product.id} + '/update'}">Edit</a></td>
        <td><a th:href="@{'/products/' + ${product.id} + '/delete'}">Delete</a></td>

    </tr>
</table>
</body>
</html>